<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5007883b3f.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <div class="bannerPresentacion">
            <img src="/images/logo-mercado-liebre.svg" alt="logo ML" class="headerImage">
            <form class="barraBusqueda">
                <input type="text" placeholder="Buscar productos, marcas">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
            </form>
            <p class="cuotasTarjeta"><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        <nav class="menuList">
            <ul>
                <li><a href="#">Ofertas</li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta</a><i class="fa-solid fa-address-card"></i></li>
                <li><a href="#">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
                <li><a href="#">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <button><i class="fas fa-bars"></i></button>
        </div>
        <img src="/images/img-home-banner.jpg" alt="bannerHome" class="bannerImage">
    </header>
    <main>
        <h2 class="titulares">Basado en tu última visita</h2>
        <section>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <div class="boxProducto">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precio">$6770</p>
                    <p class="descuento">40% off</p>
                    <p class="descripcion">Cafetera Moulinex</p>
                </div>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro">
                <div class="boxProducto">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precio">$230000</p>
                    <p class="descuento">20% off</p>
                    <p class="descripcion">MacBook Pro 2019</p>
                </div>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                <div class="boxProducto">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precio">$70500</p>
                    <p class="descuento">10% off</p>
                    <p class="descripcion">Samsung Galaxy S10</p>
                </div>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="Samsung SmartTV">
                <div class="boxProducto">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precio">$23200</p>
                    <p class="descuento">5% off</p>
                    <p class="descripcion">SmartTV Samsung 43"</p>
                </div>
            </article>
        </section>
        <h2 class="titulares">Seccion de ofertas</h2>
        <section>
            <article>
                <img src="/images/img-cafetera-moulinex.jpg" alt="Cafetera Moulinex">
                <div class="boxProducto">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precio">$6770</p>
                    <p class="descuento">40% off</p>
                    <p class="descripcion">Cafetera Moulinex</p>
                </div>
            </article>
            <article>
                <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro">
                <div class="boxProducto">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precio">$230000</p>
                    <p class="descuento">20% off</p>
                    <p class="descripcion">MacBook Pro 2019</p>
                </div>
            </article>
            <article>
                <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                <div class="boxProducto">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precio">$70500</p>
                    <p class="descuento">10% off</p>
                    <p class="descripcion">Samsung Galaxy S10</p>
                </div>
            </article>
            <article>
                <img src="/images/img-tv-samsung-smart.jpg" alt="Samsung SmartTV">
                <div class="boxProducto">
                    <i class="fa-solid fa-truck"></i>
                    <p class="precio">$23200</p>
                    <p class="descuento">5% off</p>
                    <p class="descripcion">SmartTV Samsung 43"</p>
                </div>
            </article>
        </section>
    </main>
    <footer>

        <section>
            <i class="fa-solid fa-credit-card"></i>
            <h3>Paga con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenes cuotas sin interes con tarjeta o efectivo en puntos de pago. Y siempre es seguro!</p>
        </section>
        <section>
            <i class="fa-solid fa-gift"></i>
            <h3>Envios gratis desde $2500</h3>
            <p>Solo por estar regitrado en Mercado Liebre tenes envios gratis en miles de productos. Es un beneficio de mercado puntos</p>
        </section>
        <section>
            <i class="fa-solid fa-user-shield"></i>
            <h3>Seguridad, de principio a fin</h3>
            <p>No te gusta? Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estas siempre protegido</p>
        </section>
        <p id="copyright">Copyright © 1999-2022 MercadoLiebre S.R.L.</p>

    </footer>
</body>
</html>