* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Footer */

footer section {
    text-align: center;
    padding: 0 10%;
}

footer .fa-solid {
    color: #1259C3;
    margin: 5%;
    font-size: 2em;
}

footer h3 {
    color: #666;
}

#copyright {
    margin: 10% 0 5% 5%;
}