/* Paleta de colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a; */

/* Tamaños Tipográficos
Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px */



/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 12px;
}

body {
    background-color: #EBEBEB;
}

/* header */

header {
    background-color: #EAC926;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.bannerPresentacion {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.headerImage {
    width: 44vw;
}

.barraBusqueda {
    width: 44vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.barraBusqueda input {
    width: 70%;
    height: 30px;
    right: 50px;
    border: 0;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    padding-left: 10px;
}

.barraBusqueda button {
    width: 15%;
    height: 30px;
    background-color: white;
    border-style: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.cuotasTarjeta {
    margin-top: 10px;
}

.menuList {
    display: none;
}

.burger-menu {
    width: 100%;
    text-align: center;
    margin: 15px 0;
}

.burger-menu button {
    background-color: #1259c3;
    border-radius: 20%;
    padding: 10px;
    color: white;
    border-style: none;
}

.burger-menu :hover {
    background-color: #0e469b;
}

.burger-menu .fas {
    font-size: 2em;
}

.bannerImage {
    width: 100%;
}

/* main */

main {
    width: 90vw;
    margin: 0 auto;
    display: block;
}

main img {
    width: 100%;
}

main section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

main section article {
    margin-bottom: 10px;
    background-color: white;
}

.boxProducto {
    border-top: 1px solid #EBEBEB;
    padding: 0 15px;
    display: flex;
}

main section article i {
    order: 1;
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    color: #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: relative;
    bottom: 15px;
    right: 5px;
}

.descuento {
    width: 70%;
}

.precio {
    width: 30%;
}

.descripcion {
    display: none;
}

/* footer */

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer p {
    color: #666;
}

footer section {
    margin: 10% 0;
    width: 60%;
}

footer .fa-solid {
    font-size: 2em;
    color: #1259c3;
    margin-bottom: 10px;
}

/* tablet */
@media screen and (min-width: 768px) {

    /* header */

    .bannerPresentacion {
        text-align: center;
        justify-content: space-between;
        width: 100%;
    }

    .headerImage, .barraBusqueda, .cuotasTarjeta {
        width: 31vw;
    }

    .menuList {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .menuList ul {
        display: flex;
        list-style: none;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        gap: 15px;
        font-size: 12px;
    }

    .menuList ul li {
        padding: 0 5px;
    }

    .menuList a {
        text-decoration: none;
        color: black;
    }

    .burger-menu {
        display: none;
    }

    /* main */

    main section {
        justify-content: space-between;
    }

    main section article {
        box-shadow: 0 0 10px rgb(100, 100, 100);
        width: 45%;
    }
}

/* desktop */

@media screen and (min-width: 1024px) {
    
    /* header */

    .bannerPresentacion {
        justify-content: space-around;
    }

    /* main */

    main section article {
        width: 22%;
    }
}