/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

main {
    margin: 0;
    background-color: #EBEBEB;
    padding: 3%;
}

p {
    font-size: 12px;
}

/* Header */

header {
    background-color: #EAC926;
    display: flex;
    flex-direction: column;
}

.menuList {
    display: none;
    padding: 0 2%;
}

.headerImage {
    width: 50%;
    margin: 0;
}

.bannerPresentacion {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding: 2%;
}

.barraBusqueda {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.barraBusqueda input {
    height: 35px;
    width: 80%;
    border-radius: 5px;
    padding-left: 5px;
    border-style: none;
}

.barraBusqueda button {
    background-color: white;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    border-style: none;
    position: absolute;
    right: 25px;
}

.cuotasTarjeta {
    text-align: center;
    width: 100%;
    margin: 2% 0 2% 0;
}

.burger-menu {
    text-align: center;
    margin: 2%;
}

.burger-menu button {
    background-color: #1259C3;
    border-radius: 20%;
    padding: 10px;
    color: white;
    border-style: none;
}

.burger-menu .fas {
    font-size: 2em;
}

.burger-menu :hover {
    background-color: #0E469B;
}

.bannerImage {
    width: 100%;
}

/* Main */

img {
    width: 100%;
    margin: 0;
    display: block;
}

main section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

main article {
    margin: 0 5% 0 5%;
    margin-bottom: 10px;
    background-color: white;
    width: 100%;
}

.boxProducto {
    border-top: solid 1px #EBEBEB;
    margin: 0 15px;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
}

main section article i {
    position: relative;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39B54A;
    background-color: #FFF;
    border-radius: 50%;
    color: #39B54A;
    right: 20px;
    top: -25px;
    order: 1;
    flex-grow: 0;
}

.descuento {
    color: #39B54A;
    margin: 0;
    flex-grow: 0.7;
    font-size: 16px;
}

.precio {
    font-size: 18px;
    margin: 0;
    flex-grow: 0.3;
}

.descripcion {
    font-size: 16px;
    display: none;
    order: 2;
    width: 100%;
}

/* Footer */

footer section {
    text-align: center;
    padding: 0 10%;
}

footer .fa-solid {
    color: #1259C3;
    margin: 5%;
    font-size: 2em;
}

footer h3 {
    color: #666;
}

#copyright {
    margin: 10% 0 5% 5%;
}

@media (min-width: 768px) {

    /* Header */

    .bannerPresentacion {
        flex-flow: row nowrap;
        align-items: center;
    }

    .headerImage {
        width: 35%;
    }

    .burger-menu {
        display: none;
    }

    .menuList {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .menuList ul a {
        text-decoration: none;
        color: black;
    }

    .menuList li {
        padding: 0 10px 15px 10px;
    }

    .menuList ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .barraBusqueda button {
        right: 35%;
    }

    .cuotasTarjeta {
        width: 50%;
        font-size: 15px;
    }

    /* Main */

    main section {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    main article {
        box-shadow: 0 0 10px rgb(100, 100, 100);
        margin: 2%;
        width: 45%;
    }

    .descripcion {
        color: #666;
        margin: 20px 0;
        display: block;
    }
}

@media (min-width: 1023px) {
    main article {
        width: 20%;
    }

    main article :hover {
        box-shadow: 0 0 10px rgb(100, 100, 100);
    }
}