/* Paleta de colores
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a; */

/* Tamaños Tipográficos
Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px */



/* General */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

p {
    font-size: 12px;
}

body {
    background-color: #EBEBEB;
}

.titulares {
    font-size: 24px;
    margin: 15px 0;
}

/* main */

main {
    width: 90vw;
    margin: 0 auto;
    display: block;
}

main img {
    width: 100%;
}

main section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

main section article {
    margin-bottom: 10px;
    background-color: white;
}

.boxProducto {
    border-top: 1px solid #EBEBEB;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.boxProducto p {
    padding: 10px 0;
}

main section article i {
    order: 1;
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    color: #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: relative;
    bottom: 37px;
    right: 5px;
    flex-grow: 0;
}

.descuento {
    font-size: 16px;
    flex-grow: 7;
    color: #39b54a;
}

.precio {
    flex-grow: 3;
    font-size: 18px;
}

.descripcion {
    color: white;
    font-size: 16px;
}

/* tablet */
@media screen and (min-width: 768px) {

    /* main */

    main section {
        justify-content: space-between;
    }

    main section article {
        box-shadow: 0 0 10px rgb(100, 100, 100);
        width: 45%;
    }

    section article:hover .descripcion {
        color: #838383;
        transition: all 1s;
    }

    .descripcion {
        order: 2;
        width: 100%;
    }

}

/* desktop */

@media screen and (min-width: 1024px) {

    /* main */

    main section article {
        box-shadow: none
    }

    main section article:hover {
        box-shadow: 0 0 10px rgb(100, 100, 100);
    }

    main section article {
        width: 22%;
        margin-bottom: 0;
    }

    section article:hover i {
        transform: rotate(-90deg);
        transition: all 1s;
    }

}