* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #EBEBEB;
}

header {
    background-color: #EAC926;
    font-size: 12px;
}

.cuotasTarjeta {
    text-align: center;
}

.headerImage {
    width: 100%;
}

main {
    margin: 0 auto;
    width: 90%;
}

.register form {
    display: flex;
    flex-direction: column;
}