<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Mercado Liebre</title>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
        <script src="https://kit.fontawesome.com/5007883b3f.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/userStyle.css">
    </head>
<body>
    <header>
        <img src="/images/logo-mercado-liebre.svg" alt="logo ML" class="headerImage">
        <p class="cuotasTarjeta"><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</p>
    </header>
    <main>
        <section class="register">
            <form action="" method="post">
                <div>
                    <label>Nombre y Apellido</label>
                    <input type="text" name="nameLast" id="">
                </div>
                <div>
                    <label>Nombre de usuario</label>
                    <input type="text" name="userName" id="">
                </div>
                <div>
                    <label>Fecha de nacimiento</label>
                    <input type="date" name="birth" id="">
                </div>
                <div>
                    <label>Domicilio</label>
                    <input type="text" name="address" id="">
                </div>
                <div>
                    <label>Perfil de usuario</label>
                    <label><input type="radio" name="userAction" id="">Comprar</label>
                    <label><input type="radio" name="userAction" id="">Vender</label>
                </div>
                <div>
                    <label>Intereses</label>
                    <label><input type="checkbox" name="interestCat" id="">Electro</label>
                    <label><input type="checkbox" name="interestCat" id="">Moda</label>
                    <label><input type="checkbox" name="interestCat" id="">Hogar</label>
                    <label><input type="checkbox" name="interestCat" id="">Jugueteria</label>
                    <label><input type="checkbox" name="interestCat" id="">Vida sana</label>
                </div>
                <div>
                    <label>Foto de usuario</label>
                    <input type="file" name="userPhoto" id="">
                </div>
                <div>
                    <label>Contraseña</label>
                    <input type="password" name="userPassword" id="" checked>
                </div>
                <div>
                    <label>Confirmar contraseña</label>
                    <input type="password" name="checkPassword" id="">
                </div>
                <button type="submit">Enviar</button>
                <button type="reset">Borrar</button>
            </form>
        </section>
    </main>
</body>
</html>