<footer>
    <section>
        <i class="fa-solid fa-credit-card"></i>
        <h3>Paga con tarjeta o en efectivo</h3>
        <p>Con Mercado Liebre Cash, tenes cuotas sin interes con tarjeta o efectivo en puntos de pago. Y siempre es seguro!</p>
    </section>
    <section>
        <i class="fa-solid fa-gift"></i>
        <h3>Envios gratis desde $2500</h3>
        <p>Solo por estar regitrado en Mercado Liebre tenes envios gratis en miles de productos. Es un beneficio de mercado puntos</p>
    </section>
    <section>
        <i class="fa-solid fa-user-shield"></i>
        <h3>Seguridad, de principio a fin</h3>
        <p>No te gusta? Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estas siempre protegido</p>
    </section>
    <p id="copyright">Copyright © 1999-2022 MercadoLiebre S.R.L.</p>
</footer>