<header>
    <div class="bannerPresentacion">
        <div class="headerImage">
            <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="logo ML"></a>
        </div>
        <form class="barraBusqueda">
            <input type="text" placeholder="Buscar productos, marcas">
            <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
        <p class="cuotasTarjeta"><i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</p>
    </div>
    <nav class="menuList">
        <ul>
            <li><a href="#">Ofertas</a></li>
            <li><a href="#">Tiendas Oficiales</a></li>
            <li><a href="#">Vender</a></li>
            <li><a href="#">Ayuda</a></li>
        </ul>
        <ul>
            <li><a href="/register">Creá tu cuenta</a><i class="fa-solid fa-address-card"></i></li>
            <li><a href="/login">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></li>
            <li><a href="#">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
        </ul>
    </nav>
    <div class="burger-menu">
        <button><i class="fas fa-bars"></i></button>
    </div>
    <img src="/images/img-home-banner.jpg" alt="bannerHome" class="bannerImage">
</header>